A. Build a baseline model (5 marks) 

Use the Keras library to build a neural network with the following:

- One hidden layer of 10 nodes, and a ReLU activation function

- Use the adam optimizer and the mean squared error  as the loss function.

1. Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_splithelper function from Scikit-learn.

2. Train the model on the training data using 50 epochs.

3. Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.

4. Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.

5. Report the mean and the standard deviation of the mean squared errors.

Submit your Jupyter Notebook with your code and comments.

In [1]:
# importing all the necessary libraries 
import pandas as pd 
import numpy as np 
import keras
import tensorflow as tf
from keras import layers
from keras.models import Sequential
from keras.layers import Dense
from matplotlib import pyplot as plt 
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [2]:
# Defining the path and loading the (concrete data) file using the pandas library 

path = "C:\\Users\\Windows 10 Pro\\Desktop\\python class\\IBM A-I\\concrete_data.csv"
data = pd.read_csv(path)
data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
# trying to see the description of the data 
data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [4]:
# Dividing the data into predictors and target for training and testing purpose
data.columns
# using the whole columns for prediction,with the exception of the [strenght] as target
predictors = data.drop(["Strength"],axis=1)
target = data["Strength"]
#spliting the data for training and testing and 0.3 represnting the 30% held for testing  
Xtrain,Xtest,Ytrain,Ytest = train_test_split(predictors,target,test_size=0.3,random_state=3)

In [5]:
# saving the input shape to passed into the model 
number_of_columns = predictors.shape[1]

In [6]:
#creating the model 
Model = Sequential()
Model.add(Dense(10,activation="relu",input_shape=(number_of_columns,)))
Model.add(Dense(1))
Model.compile(optimizer="adam",loss='mean_squared_error')

In [8]:
#fitting the traing and testing data into the model with 50 epochs
Model.fit(Xtrain,Ytrain,validation_split=0.3,epochs=50,verbose=2)

Epoch 1/50
16/16 - 0s - loss: 131.6193 - val_loss: 157.8503 - 72ms/epoch - 4ms/step
Epoch 2/50
16/16 - 0s - loss: 129.3155 - val_loss: 154.4650 - 51ms/epoch - 3ms/step
Epoch 3/50
16/16 - 0s - loss: 127.8428 - val_loss: 151.6372 - 44ms/epoch - 3ms/step
Epoch 4/50
16/16 - 0s - loss: 124.6329 - val_loss: 150.3101 - 51ms/epoch - 3ms/step
Epoch 5/50
16/16 - 0s - loss: 129.0137 - val_loss: 149.9101 - 42ms/epoch - 3ms/step
Epoch 6/50
16/16 - 0s - loss: 125.1565 - val_loss: 144.8026 - 50ms/epoch - 3ms/step
Epoch 7/50
16/16 - 0s - loss: 120.3512 - val_loss: 144.1320 - 45ms/epoch - 3ms/step
Epoch 8/50
16/16 - 0s - loss: 118.5235 - val_loss: 152.2125 - 43ms/epoch - 3ms/step
Epoch 9/50
16/16 - 0s - loss: 116.3871 - val_loss: 140.4233 - 41ms/epoch - 3ms/step
Epoch 10/50
16/16 - 0s - loss: 118.9081 - val_loss: 138.0274 - 49ms/epoch - 3ms/step
Epoch 11/50
16/16 - 0s - loss: 117.7160 - val_loss: 152.9639 - 52ms/epoch - 3ms/step
Epoch 12/50
16/16 - 0s - loss: 118.5852 - val_loss: 146.6183 - 49ms/epoch - 3ms/step
Epoch 13/50
16/16 - 0s - loss: 114.8545 - val_loss: 133.7226 - 51ms/epoch - 3ms/step
Epoch 14/50
16/16 - 0s - loss: 115.8734 - val_loss: 137.0073 - 42ms/epoch - 3ms/step
Epoch 15/50
16/16 - 0s - loss: 111.5969 - val_loss: 132.3699 - 50ms/epoch - 3ms/step
Epoch 16/50
16/16 - 0s - loss: 110.9637 - val_loss: 130.9524 - 49ms/epoch - 3ms/step
Epoch 17/50
16/16 - 0s - loss: 110.2874 - val_loss: 131.3914 - 51ms/epoch - 3ms/step
Epoch 18/50
16/16 - 0s - loss: 109.8518 - val_loss: 129.1355 - 51ms/epoch - 3ms/step
Epoch 19/50
16/16 - 0s - loss: 110.8110 - val_loss: 128.4975 - 44ms/epoch - 3ms/step
Epoch 20/50
16/16 - 0s - loss: 108.5240 - val_loss: 127.3870 - 46ms/epoch - 3ms/step
Epoch 21/50
16/16 - 0s - loss: 108.0962 - val_loss: 127.5233 - 46ms/epoch - 3ms/step
Epoch 22/50
16/16 - 0s - loss: 112.6975 - val_loss: 134.0281 - 44ms/epoch - 3ms/step
Epoch 23/50
16/16 - 0s - loss: 108.7028 - val_loss: 126.0796 - 44ms/epoch - 3ms/step
Epoch 24/50
16/16 - 0s - loss: 106.9663 - val_loss: 131.5663 - 50ms/epoch - 3ms/step
Epoch 25/50
16/16 - 0s - loss: 108.2994 - val_loss: 131.3712 - 44ms/epoch - 3ms/step
Epoch 26/50
16/16 - 0s - loss: 106.0905 - val_loss: 125.3324 - 52ms/epoch - 3ms/step
Epoch 27/50
16/16 - 0s - loss: 109.6760 - val_loss: 127.0408 - 51ms/epoch - 3ms/step
Epoch 28/50
16/16 - 0s - loss: 107.8637 - val_loss: 124.0750 - 42ms/epoch - 3ms/step
Epoch 29/50
16/16 - 0s - loss: 107.2181 - val_loss: 127.2572 - 54ms/epoch - 3ms/step
Epoch 30/50
16/16 - 0s - loss: 113.9707 - val_loss: 130.4917 - 43ms/epoch - 3ms/step
Epoch 31/50
16/16 - 0s - loss: 106.9230 - val_loss: 122.7955 - 52ms/epoch - 3ms/step
Epoch 32/50
16/16 - 0s - loss: 114.1204 - val_loss: 122.8036 - 50ms/epoch - 3ms/step
Epoch 33/50
16/16 - 0s - loss: 105.7501 - val_loss: 122.4173 - 43ms/epoch - 3ms/step
Epoch 34/50
16/16 - 0s - loss: 104.6210 - val_loss: 122.2014 - 52ms/epoch - 3ms/step
Epoch 35/50
16/16 - 0s - loss: 106.5580 - val_loss: 121.9777 - 51ms/epoch - 3ms/step
Epoch 36/50
16/16 - 0s - loss: 106.9149 - val_loss: 122.9073 - 50ms/epoch - 3ms/step
Epoch 37/50
16/16 - 0s - loss: 104.0367 - val_loss: 122.2731 - 46ms/epoch - 3ms/step
Epoch 38/50
16/16 - 0s - loss: 104.2992 - val_loss: 121.6445 - 56ms/epoch - 3ms/step
Epoch 39/50
16/16 - 0s - loss: 103.6615 - val_loss: 121.8078 - 59ms/epoch - 4ms/step
Epoch 40/50
16/16 - 0s - loss: 103.4463 - val_loss: 130.7168 - 49ms/epoch - 3ms/step
Epoch 41/50
16/16 - 0s - loss: 108.1577 - val_loss: 130.5554 - 52ms/epoch - 3ms/step
Epoch 42/50
16/16 - 0s - loss: 107.3731 - val_loss: 129.2092 - 53ms/epoch - 3ms/step
Epoch 43/50
16/16 - 0s - loss: 106.7709 - val_loss: 137.7083 - 45ms/epoch - 3ms/step
Epoch 44/50
16/16 - 0s - loss: 107.0495 - val_loss: 120.9232 - 52ms/epoch - 3ms/step
Epoch 45/50
16/16 - 0s - loss: 104.0125 - val_loss: 122.4598 - 47ms/epoch - 3ms/step
Epoch 46/50
16/16 - 0s - loss: 105.2377 - val_loss: 120.1235 - 45ms/epoch - 3ms/step
Epoch 47/50
16/16 - 0s - loss: 102.9757 - val_loss: 121.0770 - 50ms/epoch - 3ms/step
Epoch 48/50
16/16 - 0s - loss: 103.7876 - val_loss: 124.6564 - 48ms/epoch - 3ms/step
Epoch 49/50
16/16 - 0s - loss: 103.4325 - val_loss: 119.5171 - 49ms/epoch - 3ms/step
Epoch 50/50
16/16 - 0s - loss: 102.3780 - val_loss: 121.4756 - 50ms/epoch - 3ms/step

In [9]:
# Prediction 
prediction = Model.predict(Xtest)

10/10 [==============================] - 0s 2ms/step

In [10]:
# finding the mean square error of the predicted value and the output to be ran 50 times 
mse = metrics.mean_squared_error(prediction,Ytest)

In [11]:
#compilation of the mean sqaured error ran 50 times on the prediction and output 
mse_list = [182.93,124.44,121.23,131.52,125.77,124.06,
            122.22,122.44,139.39,123.64,126.80,133.14,
            122.97,126.47,113.99,81.27,74.56,80.77,69.95,
            66.64,65.36,64.00,60.88,62.16,59.69,80.37,
            65.32,56.12,56.47,54.09,53.55,53.03,53.23,
            59.37,53.00,51.94,56.51,54.34,56.37,53.28,
            55.44,52.28,53.16,56.45,52.36,52.43,58.22,
            57.77,51.18,50.97]

In [12]:
#finding the mean of the errors
mean = np.mean(mse_list)
print(mean)

80.4708

In [13]:
#finding the std of the errors 
std = np.std(mse_list)
print(std)

33.8847805859799