A. Build a baseline model (5 marks) 

Use the Keras library to build a neural network with the following:

- One hidden layer of 10 nodes, and a ReLU activation function

- Use the adam optimizer and the mean squared error  as the loss function.

1. Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_splithelper function from Scikit-learn.

2. Train the model on the training data using 50 epochs.

3. Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.

4. Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.

5. Report the mean and the standard deviation of the mean squared errors.

Submit your Jupyter Notebook with your code and comments.

In [2]:
# importing all the necessary libraries 
import pandas as pd 
import numpy as np 
import keras
import tensorflow as tf
from keras import layers
from keras.models import Sequential
from keras.layers import Dense
from matplotlib import pyplot as plt 
from sklearn.model_selection import train_test_split

In [3]:
# Defining the path and loading the (concrete data) file using the pandas library 

path = "C:\\Users\\Windows 10 Pro\\Desktop\\python class\\IBM A-I\\concrete_data.csv"
data = pd.read_csv(path)
data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
# here trying to ensure the data is clean and has no null input 
# also the shape of the data 

print("The shape of the data is:",data.shape)
print("The summation of the null inputs in the data if any are:")
print(data.isnull().sum())

The shape of the data is: (1030, 9)
The summation of the null inputs in the data if any are:
Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [5]:
# trying to see the description of the data 
data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [6]:
# Dividing the data into predictors and target for training and testing purpose
data.columns
# using the whole columns for prediction,with the exception of the [strenght] as target
predictors = data.drop(["Strength"],axis=1)
target = data["Strength"]
#spliting the data for training and testing and 0.3 represnting the 30% held for testing  
Xtrain,Xtest,Ytrain,Ytest = train_test_split(predictors,target,test_size=0.3,random_state=3)

In [7]:
number_of_columns = predictors.shape[1]

In [8]:
Model = Sequential()
Model.add(Dense(10,activation="relu",input_shape=(number_of_columns,)))
Model.add(Dense(1))
Model.compile(optimizer="adam",loss='mean_squared_error')

In [346]:
#fitting the traing and testing data into the model 
Model.fit(Xtrain,Ytrain,validation_split=0.3,epochs=50,verbose=2)

Epoch 1/50
16/16 - 1s - loss: 1466.9460 - val_loss: 1634.4141 - 1s/epoch - 72ms/step
Epoch 2/50
16/16 - 0s - loss: 1456.3773 - val_loss: 1622.0593 - 93ms/epoch - 6ms/step
Epoch 3/50
16/16 - 0s - loss: 1445.9298 - val_loss: 1609.2073 - 88ms/epoch - 5ms/step
Epoch 4/50
16/16 - 0s - loss: 1435.1407 - val_loss: 1596.1273 - 91ms/epoch - 6ms/step
Epoch 5/50
16/16 - 0s - loss: 1424.0103 - val_loss: 1582.7957 - 82ms/epoch - 5ms/step
Epoch 6/50
16/16 - 0s - loss: 1412.6547 - val_loss: 1569.1544 - 83ms/epoch - 5ms/step
Epoch 7/50
16/16 - 0s - loss: 1401.0214 - val_loss: 1555.1117 - 91ms/epoch - 6ms/step
Epoch 8/50
16/16 - 0s - loss: 1389.0032 - val_loss: 1540.7234 - 86ms/epoch - 5ms/step
Epoch 9/50
16/16 - 0s - loss: 1376.6749 - val_loss: 1525.7141 - 84ms/epoch - 5ms/step
Epoch 10/50
16/16 - 0s - loss: 1363.9421 - val_loss: 1509.9368 - 104ms/epoch - 6ms/step
Epoch 11/50
16/16 - 0s - loss: 1350.4636 - val_loss: 1494.0446 - 85ms/epoch - 5ms/step
Epoch 12/50
16/16 - 0s - loss: 1336.7146 - val_loss: 1477.2922 - 86ms/epoch - 5ms/step
Epoch 13/50
16/16 - 0s - loss: 1322.3591 - val_loss: 1459.8293 - 91ms/epoch - 6ms/step
Epoch 14/50
16/16 - 0s - loss: 1307.2939 - val_loss: 1442.1133 - 75ms/epoch - 5ms/step
Epoch 15/50
16/16 - 0s - loss: 1291.8124 - val_loss: 1423.2699 - 85ms/epoch - 5ms/step
Epoch 16/50
16/16 - 0s - loss: 1275.6973 - val_loss: 1403.6787 - 81ms/epoch - 5ms/step
Epoch 17/50
16/16 - 0s - loss: 1258.5546 - val_loss: 1384.0580 - 80ms/epoch - 5ms/step
Epoch 18/50
16/16 - 0s - loss: 1241.2344 - val_loss: 1363.5292 - 74ms/epoch - 5ms/step
Epoch 19/50
16/16 - 0s - loss: 1223.4409 - val_loss: 1342.2839 - 83ms/epoch - 5ms/step
Epoch 20/50
16/16 - 0s - loss: 1204.9423 - val_loss: 1320.3910 - 73ms/epoch - 5ms/step
Epoch 21/50
16/16 - 0s - loss: 1185.9207 - val_loss: 1298.2887 - 72ms/epoch - 4ms/step
Epoch 22/50
16/16 - 0s - loss: 1166.6033 - val_loss: 1275.6509 - 73ms/epoch - 5ms/step
Epoch 23/50
16/16 - 0s - loss: 1146.6893 - val_loss: 1252.6556 - 74ms/epoch - 5ms/step
Epoch 24/50
16/16 - 0s - loss: 1126.4651 - val_loss: 1229.3823 - 75ms/epoch - 5ms/step
Epoch 25/50
16/16 - 0s - loss: 1105.9092 - val_loss: 1205.9381 - 72ms/epoch - 4ms/step
Epoch 26/50
16/16 - 0s - loss: 1085.3176 - val_loss: 1181.3671 - 76ms/epoch - 5ms/step
Epoch 27/50
16/16 - 0s - loss: 1064.4834 - val_loss: 1156.5634 - 66ms/epoch - 4ms/step
Epoch 28/50
16/16 - 0s - loss: 1042.5813 - val_loss: 1133.0820 - 68ms/epoch - 4ms/step
Epoch 29/50
16/16 - 0s - loss: 1021.4229 - val_loss: 1108.7371 - 79ms/epoch - 5ms/step
Epoch 30/50
16/16 - 0s - loss: 1000.1868 - val_loss: 1084.1038 - 76ms/epoch - 5ms/step
Epoch 31/50
16/16 - 0s - loss: 978.7740 - val_loss: 1059.4780 - 76ms/epoch - 5ms/step
Epoch 32/50
16/16 - 0s - loss: 957.1914 - val_loss: 1035.0964 - 88ms/epoch - 6ms/step
Epoch 33/50
16/16 - 0s - loss: 936.0140 - val_loss: 1010.1177 - 75ms/epoch - 5ms/step
Epoch 34/50
16/16 - 0s - loss: 914.8279 - val_loss: 985.4134 - 79ms/epoch - 5ms/step
Epoch 35/50
16/16 - 0s - loss: 893.4443 - val_loss: 961.4939 - 90ms/epoch - 6ms/step
Epoch 36/50
16/16 - 0s - loss: 872.3361 - val_loss: 937.8535 - 78ms/epoch - 5ms/step
Epoch 37/50
16/16 - 0s - loss: 851.8900 - val_loss: 913.9567 - 81ms/epoch - 5ms/step
Epoch 38/50
16/16 - 0s - loss: 831.2267 - val_loss: 890.6701 - 83ms/epoch - 5ms/step
Epoch 39/50
16/16 - 0s - loss: 810.8943 - val_loss: 867.7881 - 88ms/epoch - 6ms/step
Epoch 40/50
16/16 - 0s - loss: 791.2373 - val_loss: 844.7119 - 77ms/epoch - 5ms/step
Epoch 41/50
16/16 - 0s - loss: 771.0607 - val_loss: 822.8042 - 79ms/epoch - 5ms/step
Epoch 42/50
16/16 - 0s - loss: 752.0924 - val_loss: 800.7252 - 84ms/epoch - 5ms/step
Epoch 43/50
16/16 - 0s - loss: 733.0643 - val_loss: 779.3864 - 86ms/epoch - 5ms/step
Epoch 44/50
16/16 - 0s - loss: 714.3369 - val_loss: 759.1271 - 76ms/epoch - 5ms/step
Epoch 45/50
16/16 - 0s - loss: 696.4542 - val_loss: 738.5513 - 74ms/epoch - 5ms/step
Epoch 46/50
16/16 - 0s - loss: 678.7782 - val_loss: 718.4467 - 69ms/epoch - 4ms/step
Epoch 47/50
16/16 - 0s - loss: 661.4104 - val_loss: 698.9351 - 76ms/epoch - 5ms/step
Epoch 48/50
16/16 - 0s - loss: 644.2593 - val_loss: 680.4935 - 80ms/epoch - 5ms/step
Epoch 49/50
16/16 - 0s - loss: 628.2369 - val_loss: 661.7700 - 78ms/epoch - 5ms/step
Epoch 50/50
16/16 - 0s - loss: 612.1192 - val_loss: 644.1230 - 78ms/epoch - 5ms/step

In [303]:
prediction = Model.predict(Xtest)

10/10 [==============================] - 0s 997us/step

In [304]:
from sklearn import metrics

In [305]:
mse = metrics.mean_squared_error(prediction,Ytest)

In [306]:
mse

50.98168122300588

In [307]:
l = [182.93,124.44,121.23,131.52,125.77,124.06,
    122.22,122.44,139.39,123.64,126.80,133.14,122.97,126.47,
    113.99,81.27,74.56,80.77,69.95,66.64,65.36,64.00,
    60.88,62.16,59.69,80.37,65.32,56.12,56.47,54.09,53.55,53.03,
    53.23,59.37,53.00,51.94,56.51,54.34,56.37,53.28,55.44,52.28,
    53.16,56.45,52.36,52.43,58.22,57.77,51.18,50.97]

In [308]:
mean = np.mean(l)

In [309]:
mean

80.4708

In [310]:
std = np.std(l)

In [311]:
std

33.8847805859799

In [422]:
mse_list = []
a = 1
for i in range (3):
    #for j in range (3):
    i=i-1
    while i < 3:
        y = metrics.mean_squared_error(prediction,Ytest)
        mse_list.append(y*a)
        #i=i-1
        #mse_list.append(y*a)
    if i==3:
        break
            #mse_list.append(y*a)
    else:
        print("mse_list.append(y*a)")

KeyboardInterrupt:

In [418]:
#format(scores[1], 50-scores[1]*50))
#mse_list

B. Normalize the data (5 marks) 

Repeat Part A but use a normalized version of the data. Recall that one way to normalize the data is by subtracting the mean from the individual predictors and dividing by the standard deviation.

How does the mean of the mean squared errors compare to that from Step A?

In [319]:
#normalized_predictors = predictors - predictors.mean()

In [320]:
#getting the mean of the predictors 
pred_mean = np.mean(predictors)

C:\Users\Windows 10 Pro\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3438: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

In [333]:
#getting the standard diviation of the predictors 
std_predictors = np.std(predictors)

In [337]:
# subtracting the mean of thre predictor from the actual predictors 
nor_prd = predictors - pred_mean

In [338]:
#dividing the result of the subtracted mean by the standard diviation to get the normalized predictor
normalized_predictors = nor_prd/std_predictors

In [339]:
#Viewing the head of the normalized predictor 
normalized_predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.477915,-0.856888,-0.847144,-0.916764,-0.620448,0.863154,-1.217670,-0.279733
1,2.477915,-0.856888,-0.847144,-0.916764,-0.620448,1.056164,-1.217670,-0.279733
2,0.491425,0.795526,-0.847144,2.175461,-1.039143,-0.526517,-2.240917,3.553066
3,0.491425,0.795526,-0.847144,2.175461,-1.039143,-0.526517,-2.240917,5.057677
4,-0.790459,0.678408,-0.847144,0.488793,-1.039143,0.070527,0.647884,4.978487

In [357]:
# Saving the normalixed prediction and the target into x and y 
X = normalized_predictors 
Y = data["Strength"]
# passing the data for training and testing and 0.3 represnting the 30% held for testing using sklearn
X_train,X_test,Y_train,Y_test = train_test_split(X,Y)

In [379]:
# saving the input shape as 8 since it has 8 attributes 
no_of_col = 8
# setting up the model 
Model = Sequential()
Model.add(Dense(10,activation="relu",input_shape=(no_of_col,)))
Model.add(Dense(1))
Model.compile(optimizer="adam",loss='mean_squared_error')
              #metrics=['accuracy']

In [381]:
#fitting the traing and testing data into the model 
Model.fit(X_train,Y_train,validation_split=0.3,epochs=50,verbose=2)
scores = Model.evaluate(X_test, Y_test, verbose=0)
#print("Accuracy: {} \n Error: {}".format(scores[1], 50-scores[1]*50))

Epoch 1/50
17/17 - 0s - loss: 743.9146 - val_loss: 759.2930 - 196ms/epoch - 12ms/step
Epoch 2/50
17/17 - 0s - loss: 723.3090 - val_loss: 738.4479 - 97ms/epoch - 6ms/step
Epoch 3/50
17/17 - 0s - loss: 703.1921 - val_loss: 717.9137 - 98ms/epoch - 6ms/step
Epoch 4/50
17/17 - 0s - loss: 683.1007 - val_loss: 698.1074 - 94ms/epoch - 6ms/step
Epoch 5/50
17/17 - 0s - loss: 663.8342 - val_loss: 678.0814 - 98ms/epoch - 6ms/step
Epoch 6/50
17/17 - 0s - loss: 644.5253 - val_loss: 658.4811 - 97ms/epoch - 6ms/step
Epoch 7/50
17/17 - 0s - loss: 625.3588 - val_loss: 639.7584 - 97ms/epoch - 6ms/step
Epoch 8/50
17/17 - 0s - loss: 607.1187 - val_loss: 620.9125 - 95ms/epoch - 6ms/step
Epoch 9/50
17/17 - 0s - loss: 588.5199 - val_loss: 603.1100 - 100ms/epoch - 6ms/step
Epoch 10/50
17/17 - 0s - loss: 571.0530 - val_loss: 585.0416 - 99ms/epoch - 6ms/step
Epoch 11/50
17/17 - 0s - loss: 553.4731 - val_loss: 567.4406 - 100ms/epoch - 6ms/step
Epoch 12/50
17/17 - 0s - loss: 536.1514 - val_loss: 550.4871 - 94ms/epoch - 6ms/step
Epoch 13/50
17/17 - 0s - loss: 519.1573 - val_loss: 533.9113 - 96ms/epoch - 6ms/step
Epoch 14/50
17/17 - 0s - loss: 502.7075 - val_loss: 517.5349 - 95ms/epoch - 6ms/step
Epoch 15/50
17/17 - 0s - loss: 486.5258 - val_loss: 501.3727 - 97ms/epoch - 6ms/step
Epoch 16/50
17/17 - 0s - loss: 470.4987 - val_loss: 485.8839 - 99ms/epoch - 6ms/step
Epoch 17/50
17/17 - 0s - loss: 454.9047 - val_loss: 470.8932 - 97ms/epoch - 6ms/step
Epoch 18/50
17/17 - 0s - loss: 440.1977 - val_loss: 455.8092 - 93ms/epoch - 5ms/step
Epoch 19/50
17/17 - 0s - loss: 425.3222 - val_loss: 441.7577 - 98ms/epoch - 6ms/step
Epoch 20/50
17/17 - 0s - loss: 411.3092 - val_loss: 428.1432 - 99ms/epoch - 6ms/step
Epoch 21/50
17/17 - 0s - loss: 397.7671 - val_loss: 415.0883 - 98ms/epoch - 6ms/step
Epoch 22/50
17/17 - 0s - loss: 384.5804 - val_loss: 402.7720 - 100ms/epoch - 6ms/step
Epoch 23/50
17/17 - 0s - loss: 372.3229 - val_loss: 390.8899 - 100ms/epoch - 6ms/step
Epoch 24/50
17/17 - 0s - loss: 360.2343 - val_loss: 379.9016 - 97ms/epoch - 6ms/step
Epoch 25/50
17/17 - 0s - loss: 349.0952 - val_loss: 369.3157 - 94ms/epoch - 6ms/step
Epoch 26/50
17/17 - 0s - loss: 338.3712 - val_loss: 359.1663 - 91ms/epoch - 5ms/step
Epoch 27/50
17/17 - 0s - loss: 328.3679 - val_loss: 349.5359 - 98ms/epoch - 6ms/step
Epoch 28/50
17/17 - 0s - loss: 318.3628 - val_loss: 341.2015 - 93ms/epoch - 5ms/step
Epoch 29/50
17/17 - 0s - loss: 309.5326 - val_loss: 333.1490 - 121ms/epoch - 7ms/step
Epoch 30/50
17/17 - 0s - loss: 301.1806 - val_loss: 325.2122 - 96ms/epoch - 6ms/step
Epoch 31/50
17/17 - 0s - loss: 293.0625 - val_loss: 318.1296 - 107ms/epoch - 6ms/step
Epoch 32/50
17/17 - 0s - loss: 285.6754 - val_loss: 311.3482 - 97ms/epoch - 6ms/step
Epoch 33/50
17/17 - 0s - loss: 278.5300 - val_loss: 305.2823 - 96ms/epoch - 6ms/step
Epoch 34/50
17/17 - 0s - loss: 272.0639 - val_loss: 299.5679 - 101ms/epoch - 6ms/step
Epoch 35/50
17/17 - 0s - loss: 265.9507 - val_loss: 294.2324 - 96ms/epoch - 6ms/step
Epoch 36/50
17/17 - 0s - loss: 260.1042 - val_loss: 289.4512 - 120ms/epoch - 7ms/step
Epoch 37/50
17/17 - 0s - loss: 254.8010 - val_loss: 284.9822 - 131ms/epoch - 8ms/step
Epoch 38/50
17/17 - 0s - loss: 249.9078 - val_loss: 280.6747 - 120ms/epoch - 7ms/step
Epoch 39/50
17/17 - 0s - loss: 245.3078 - val_loss: 276.6601 - 93ms/epoch - 5ms/step
Epoch 40/50
17/17 - 0s - loss: 240.8132 - val_loss: 273.1979 - 106ms/epoch - 6ms/step
Epoch 41/50
17/17 - 0s - loss: 237.0538 - val_loss: 269.7125 - 112ms/epoch - 7ms/step
Epoch 42/50
17/17 - 0s - loss: 233.0685 - val_loss: 266.7343 - 117ms/epoch - 7ms/step
Epoch 43/50
17/17 - 0s - loss: 229.6524 - val_loss: 263.8617 - 113ms/epoch - 7ms/step
Epoch 44/50
17/17 - 0s - loss: 226.3016 - val_loss: 261.2409 - 97ms/epoch - 6ms/step
Epoch 45/50
17/17 - 0s - loss: 223.2273 - val_loss: 258.8201 - 103ms/epoch - 6ms/step
Epoch 46/50
17/17 - 0s - loss: 220.3487 - val_loss: 256.4491 - 111ms/epoch - 7ms/step
Epoch 47/50
17/17 - 0s - loss: 217.5529 - val_loss: 254.2549 - 96ms/epoch - 6ms/step
Epoch 48/50
17/17 - 0s - loss: 214.9366 - val_loss: 252.2499 - 97ms/epoch - 6ms/step
Epoch 49/50
17/17 - 0s - loss: 212.5223 - val_loss: 250.2855 - 96ms/epoch - 6ms/step
Epoch 50/50
17/17 - 0s - loss: 210.2228 - val_loss: 248.4761 - 97ms/epoch - 6ms/step

In [ ]:
# build the model
#model = convolutional_model()

# fit the model
#model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=10, batch_size=200, verbose=2)

# evaluate the model
#scores = model.evaluate(X_test, y_test, verbose=0)
#print("Accuracy: {} \n Error: {}".format(scores[1], 100-scores[1]*100))

In [388]:
print("Accuracy: {} \n Error: {}".format(scores, 50-scores*50))

Accuracy: 247.15577697753906
 Error: -12307.788848876953

C. Increate the number of epochs (5 marks)

Repeat Part B but use 100 epochs this time for training.

How does the mean of the mean squared errors compare to that from Step B?

In [ ]:
# saving the input shape as 8 since it has 8 attributes 
no_of_col = 8
# setting up the model 
Model = Sequential()
Model.add(Dense(10,activation="relu",input_shape=(no_of_col,)))
Model.add(Dense(1))
Model.compile(optimizer="adam",loss='mean_squared_error')
              #metrics=['accuracy']

In [ ]:
#fitting the traing and testing data into the model 
Model.fit(X_train,Y_train,validation_split=0.3,epochs=100,verbose=2)
scores = Model.evaluate(X_test, Y_test, verbose=0)
#print("Accuracy: {} \n Error: {}".format(scores[1], 50-scores[1]*50))

D. Increase the number of hidden layers (5 marks)

Repeat part B but use a neural network with the following instead:

- Three hidden layers, each of 10 nodes and ReLU activation function.

How does the mean of the mean squared errors compare to that from Step B?

In [ ]:
# saving the input shape as 8 since it has 8 attributes 
no_of_col = 8
# setting up the model 
Model = Sequential()
Model.add(Dense(10,activation="relu",input_shape=(no_of_col,)))
Model.add(Dense(10,activation="relu"))
Model.add(Dense(10,activation="relu"))
Model.add(Dense(1))
Model.compile(optimizer="adam",loss='mean_squared_error')
              #metrics=['accuracy']

In [ ]:
#fitting the traing and testing data into the model 
Model.fit(X_train,Y_train,validation_split=0.3,epochs=100,verbose=2)
scores = Model.evaluate(X_test, Y_test, verbose=0)
#print("Accuracy: {} \n Error: {}".format(scores[1], 50-scores[1]*50))